TODO: Controls

<h1>{{playbackService.display}}</h1>
<h2>{{playbackService.tickInterval}}ms ({{playbackService.tempo}} bpm)</h2>

<button onclick={{action 'next'}}>Next ></button>
<button onclick={{action 'play'}}>Play</button>
<button onclick={{action 'stop'}}>Stop</button>
