<div {{bindAttr class="class"}}>
  <span class="channel-cycle">
    <div>
      <button type="button" class="tiny transparent" {{action previous}}>
        <i class="icon-circle-arrow-up icon-white"></i>
      </button>
    </div>
    <div>
      <button type="button" class="tiny transparent" {{action next}}>
        <i class="icon-circle-arrow-down icon-white"></i>
      </button>
    </div>
  </span>
  <span class="controls">
    <h3>{{sound}}</h3>
    <span class="channel-closer">
    {{#if volume}}
       <button type="button" class="tiny transparent" {{action mute}}>
         <i class="icon-volume-off icon-white"></i>
       </button>
     {{else}}
       <button type="button" class="tiny transparent" {{action unmute}}>
        <i class="icon-volume-up icon-white"></i>
       </button>
    {{/if}}
    </span>
  </span>

  {{render "steps" steps}}
</div>
