<div class="share">

  Song Name: {{view Em.TextField valueBinding="name"}}

  <hr />

  Share a <a {{bindAttr href="permalink"}}>link</a> to this song via <a {{bindAttr href="emailPermalink"}}>Email</a>, <a {{bindAttr href="googlePermalink"}}>Google+</a>, <a {{bindAttr href="facebookPermalink"}}>Facebook</a> and <a {{bindAttr href="twitterPermalink"}}>Twitter</a>
</div>
